/** mods for dark mode */

.dark body, .dark #app {
    background-color: black !important;
    color: white;
}
.dark div, .dark textarea {
    background-color: rgba(0,0,0,0.25);
    color: white;
}
.dark select {
    color: #eee;
    background-color: #606060;
    border: 1px solid rgba(255,255,255,0.1);
}
.dark select:disabled {
    color: #222;
    background-color: #555;
}
.dark button {
    color: #0af;
    background-color: #444;
    border: 1px solid rgba(255,255,255,0.1);
}
.dark label {
    color: #ddd;
}
.dark button:hover:enabled {
    color: #0af;
    background-color: #666 !important;
}
.dark button:disabled {
    color: #111;
}
.dark #modal {
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.dark #modal > div {
    background-color: rgba(0,0,0,0.9);
    border: 1px solid #999;
}
.dark #commands {
    background-color: #222 !important;
    color: white;
}
.dark #ctrl, .dark #ctrl div {
    background-color: #222 !important;
}
.dark #status div {
    background-color: #333 !important;
}
.dark #status > div, .dark .popmenu {
    border: 1px solid #555;
}
.dark .popmenu input {
    background-color: #222;
    border: 1px solid #444;
    color: #ccc;
}
.dark #output, .dark #files {
    border: 1px solid #555;
    color: #ddd;
}
.dark #path, .dark #name, .dark #state {
    background-color: #222 !important;
}
.dark #files > div:hover {
    background-color: #333;
}
.dark #files .selected {
    background-color: #222;
}
.dark #files .dir {
    color: #07f;
}
.dark #label-x {
    color: #d00;
}
.dark #label-y {
    color: #0a0;
}
.dark #label-z {
    color: #05f;
}
.dark #label-a {
    color: #bb0;
}
.dark #sys-stop {
    background-color: rgba(255,100,100,0.7) !important;
}
.dark #sys-stop:hover {
    background-color: rgba(255,100,100,0.85) !important;
    border-color: #fff;
}

/** mods for touch devices */

.touch > div {
    max-width: 100% !important;
}
.touch #finder {
    height: auto;
    flex-grow: 1;
}
.touch #head button {
    font-size: larger;
}
.touch #browse button {
    font-size: larger;
}
.touch #commands {
    font-size: larger;
}
.touch #output-mode button {
    font-size: 16px;
}
.touch .popmenu button {
    font-size: larger;
}
.touch #run-setup {
    font-size: larger;
}
.touch #run-setup input {
    height: 100%;
}
.touch #run-setup button.op {
    font-size: larger;
    padding: 3px 10px 3px 10px;
}

/** standard element config */

body, div {
    display: flex;
    position: relative;
}
body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    flex-direction: row;
    justify-content: center;
}
div {
    flex-direction: row;
}
option {
    text-align: center;
}
div, label, button {
    user-select: none;
    color: black;
}
label {
    white-space: nowrap;
}
select {
    outline: none;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.25);
    padding: 3px 8px 3px 8px;
    background-color: #fff;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: #555;
}
button, #commands {
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.25);
    padding: 3px 8px 3px 8px;
    background-color: #eee;
    outline: none;
    color: #08d;
}
/* prevent sticky button highlights on touch screens */
@media(hover: hover) {
    button:hover:enabled {
        background-color: #ddd;
    }
}
button:disabled {
    color: #aaa;
}
hr {
    border-top: 1px dashed #888;
    margin: 0;
    padding: 0;
    height: 0px;
    width: 100%;
    margin: 3px 0 2px 0;
    padding: 0;
}

/** class config */

.pad {
    flex-grow: 1;
}
.popmenu {
    display: none;
    position: absolute;
    top: 100%;
    left: -1px;
    border: 1px solid rgba(0,0,0,0.25);
    border-radius: 3px;
    background-color: rgba(255,255,255,0.9);
    width: auto !important;
    min-width: calc(100% - 10px);
    gap: 2px !important;
    padding: 5px !important;
    z-index: 10;
}
.lasermenu {
    left: auto !important;
    right: -1px !important;
}
.popmenu button {
    width: 100%;
}
.popmenu label {
    background-color: rgba(0,50,150,0.05) !important;
    font-size: smaller !important;
    text-align: center;
}
.pop:hover {
    background-color: rgba(0,0,0,0.1) !important;
}
.pop:hover .popmenu {
    display: grid;
}
.toolmenu {
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
}
.toolmenu hr {
    grid-column: span 2;
}
.popmenu div {
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    gap: 2px !important;
}
.popmenu input {
    text-align: center;
    margin: 2px 0 2px 0;
    user-select: none !important;
    outline: none;
}

/** ID based config */

#backdrop {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888;
}
#app {
    padding: 5px;
    background-color: white;
    flex-direction: column;
    max-width: 1000px;
    max-height: 800px;
    width: 100%;
    gap: 4px;
}
#name {
    background-color: rgba(0,0,0,0.06) !important;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
#tool-calibrate {
    grid-column: span 2;
}
#head {
    gap: 3px;
}
#head > div {
    border-radius: 3px;
    padding: 4px 6px 4px 6px;
    background-color: rgba(0,0,0,0.1);
}
#label-x {
    color: #800;
}
#label-y {
    color: #080;
}
#label-z {
    color: #00a;
}
#label-a {
    color: #660;
}
#sys-serial, #sys-usb, #sys-tcp {
    display: none;
}
#sys-stop {
    background-color: rgba(255,100,100,0.5) !important;
    justify-content: center;
    align-items: center;
    border: 1px solid #666;
    font-weight: bold;
    padding-left: 15px !important;
    padding-right: 15px !important;
}
#sys-stop:hover {
    background-color: rgba(255,100,100,0.75) !important;
    border-color: red;
}
#state {
    width: 100px;
    align-items: center;
    justify-content: center;
}
#status {
    grid-template-columns: repeat(8, 1fr);
    display: grid;
    gap: 3px;
}
#status label {
    border-radius: 2px;
    align-items: center;
    padding: 2px;
    font-weight: bold;
    font-size: larger;
}
#status > div, .popmenu > div {
    gap: 8px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 2px 4px 2px 4px;
    align-items: center;
}
#status > div {
    background-color: rgba(0,0,0,0.15);
}
#status > div > div {
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
}
#status > div > div > div {
    justify-content: flex-end;
    width: 100%;
}
#status > div > div > div:last-child {
    font-size: smaller;
}
#work {
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    gap: 3px;
}
#finder {
    min-height: 0;
    gap: 3px;
    height: 300px;
}

.dark #runit {
    background-color: black;
    border: 1px solid rgba(255,255,255,0.4);
}
.dark #canvas {
    background-color: #111;
}
.dark #run-setup {
    background-color: #222;
}
.dark #run-setup > label {
    border: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(0,0,0,0.9);
}
.dark #run-setup input {
    background-color: #181818;
    border: 1px solid #444;
    color: #ccc;
}
#runit {
    z-index: -100;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    position: absolute;
    padding: 5px;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    gap: 5px;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}
#canvas {
    background-color: #eee;
    border-radius: 3px;
    flex-grow: 1;
}
#canvas > canvas {
    border-radius: 3px;
}
#run-setup {
    overflow: auto;
    border-radius: 3px;
    background-color: #e5e5e5;
    flex-direction: column;
    align-items: stretch;
    padding: 10px;
    gap: 5px;
}
#run-setup > label {
    padding: 3px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.9);
}
#run-setup > div {
    background-color: transparent;
    align-items: center;
    gap: 4px;
}
#run-setup > div > label {
    flex-grow: 1;
}
#run-setup input {
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    text-align: center;
    font-family: monospace;
}
#run-setup button.op {
    font-family: monospace;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 1px;
}
#run-setup .gap {
    height: 6px;
}
#run-setup .pad {
    flex-grow: 1;
}
#run-setup .ax {
    margin-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
#run-cmd {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(2, 1fr);
}
#files, #output {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 3px;
    gap: 3px;
}
#browse {
    gap: 3px;
    width: 40%;
}
#browse, #files {
    flex-direction: column;
}
#path {
    background-color: rgba(0,0,0,0.025);
}
#faction {
    gap: 3px;
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr / repeat(3, 1fr);
}
#render {
    gap: 3px;
    width: 60%;
    flex-direction: column;
}
#output {
    min-height: 0;
    flex-grow: 1;
    background-color: rgba(0,0,0,0.025);
    font-family: monospace;
    font-size: smaller;
    overflow: auto;
}
#output-mode {
    position: absolute;
    gap: 3px;
    top: 5px;
    right: 17px;
    border-radius: 3px;
    font-size: 7px;
}
#output-mode button {
    padding: 3px 5px 3px 5px;
}
#commands {
    outline: none;
    position: relative;
    font-family: monospace;
    color: rgba(100,50,0,1);
    background-color: white !important;
    padding-right: 5px;
    padding-left: 5px;
}
#path {
    overflow: auto;
    flex-shrink: 0;
    gap: 3px;
}
#path button {
    padding: 3px 8px 3px 8px;
}
#path span {
    flex-grow: 1;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.025);
}
#files {
    background-color: rgba(0,0,0,0.025);
    flex-grow: 1;
    overflow: auto;
}
#files .dir {
    color: #05f;
}
#files .selected {
    color: green;
    background: #d8d8d8;
}
#files > div {
    justify-content: space-between;
    padding: 5px;
    gap: 1px;
}
#files > div:hover {
    background: #ddd;
}
#files.dragover {
    background: #dfd;
}
#upload-input {
    display: none;
}
#ctrl {
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 5px;
    gap: 15px;
}
#ctrl > div {
    display: grid;
}
#ctrl button {
    padding: 10px;
}
#ctrl-pad {
    display: grid;
    grid-auto-flow: column;
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
    gap: 3px;
}
#jog-left, #jog-right {
    flex-grow: 1;
    gap: 3px;
}
#jog-left button, #jog-right button {
    font-size: larger;
    font-weight: bold;
}
#jog-left {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
#jog-right {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}
#modal {
    display: none;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.5);
}
#modal > div {
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(255,255,255,0.9);
}
#progress {
    font-family: monospace;
}
